<%- include('../partials/header') %>

<div class="container mt-4">
    <h1>About This site!</h1>
    <p>This is some ramblings of the renderer I am writing for my game Starudst!</p>
</div>

<%- include('../partials/footer') %>