<%- include('../partials/header') %>

    <h>This Page Covers Percentage-Closer Soft shadows</h>

    <p>PCSS, can in simple terms be defined as the simulation of how shadows change according to distance
       moved from the casted shadow source. This method of filtering attempts to approximate penumbra, and umbra
       shadow behaviours.
    </p>

    <p>My implementation is incomplete however, fine details are often lost and I am currently working very hard to
       gain those fine details back for the potential to cast nose shadows onto a face for example. This however,
       is unrelated to the filter as it is purely the projection math for the shadow depth buffer creation.

    </p>

    <img src="/images/citizen.png" class="img-fluid" alt="Sample image">
    <img src="/images/room.png" class="img-fluid" alt="Sample image">

<%- include('../partials/footer') %>