<%- include('../partials/header') %>

    <h>Rendering System</h>

    <p>This rendering system was built on top of source engines rendering functions, all previous lighting methodologies were
        scrapped in favor of entirely realtime lighting that is processed through a deferred shaded lighting pass. Forward rendering
        is utilized for translucent objects, (water and glass).
    </p>

    <img src="/images/fwd_deferr.png" class="img-fluid" alt="Sample image">

<%- include('../partials/footer') %>